body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

button {
    position: absolute;
    font-size: 60px;
    padding: 20px 40px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: green;
}

#gameOver {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
    background-image: url(../img/gameover.jpg);
}

#youwin {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
    background-image: url(../img/youwin.jpg);
}

/* h1 {
    text-align: center;
    
} */
.backgroundStart {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url(../img/betis.jpg);
}