body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#gameOver {
    display: none;
    min-height: 100%;
    min-width: 100%;
}

/* 
h1 {
    color: #fff;
    text-align: center;

}

#gameOver {
    display: none;
    background: black;
}

#gameOver img {
    object-fit: contain;
} */